<h1><%= set.name %></h1>
<img src="<%= set.img_url %>" alt="<%= set.name %>">
<p><%= set.description %></p>
<a href="/lego/deleteSet/<%= set.set_num %>">Delete Set</a>
<a href="#" onclick="history.back(); return false;">Back</a>
